.navbar {
    display: flex;
    background-color: #222;
    padding: 1.6rem 0;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.item a {
    color: #FFF;
}

.item a:hover {
    color: #FFBB33;
    transition: .25s;
}