.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    margin: 0 8rem;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

