.footer {
    background-color: #222;
    color: #FFF;
    padding: 4rem;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.social_list li {
    cursor: pointer;
}

.social_list li:hover {
    color: #ffbb33;
}

.copy_right {
    margin-top: 2rem;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}